{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
<tr>
{{ form(form) }}
{# table body #}
{% for post in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ post.titulo }}</td>
   {% for tag in post.tags %}
        <td> {{ tag.nombre }}ggf</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>